.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 2rem auto;
    max-width: 500px;
    background-color: var(--secondary);
    border: 2px solid var(--terciary);
    border-radius: 10px;
  }
  
  .form-container h2 {
    margin-bottom: 1rem;
    color: var(--contrast);
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .form-container label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    color: var(--contrast);
  }
  
  .form-container input[type="text"] {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: var(--terciary);
    color: var(--contrast);
  }

  .form-container input[type="textarea"] {
    height: 50px;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: var(--terciary);
    color: var(--contrast);
  }
  
  .form-container input[type="text"]:focus,
  .form-container input[type="textarea"]:focus {
    outline: none;
    box-shadow: 0 0 3px var(--terciary);
  }
  
  .form-container button[type="submit"] {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: var(--button);
    color: var(--primary);
    font-weight: bold;
    cursor: pointer;
  }
  
  .form-container button[type="submit"]:hover {
    background-color: var(--terciary);
  }