.NavBar {
  display: flex;
  justify-content: center;
  background-color: var(--secondary);
  padding: 1rem;
  margin-bottom: 1rem;
}

.NavBar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.NavBar ul li {
  margin: 0 1rem;
}

.NavBar ul li a {
  color: var(--contrast);
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.NavBar ul li a:hover {
  background-color: var(--button);
  color: #fff;
}
